.ad {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ad:before {
    position: absolute;
    content: '';
    bottom: -190px;
    left: 0;
    width: 100%;
    height: 350px;
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='1077' viewBox='0 0 1440 1077' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_331_483)'%3E%3Crect width='2144' height='577' transform='matrix(1 0 0 -1 -352 827)' fill='url(%23paint0_linear_331_483)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_331_483' x='-602' y='0' width='2644' height='1077' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='125' result='effect1_foregroundBlur_331_483'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_331_483' x1='1072' y1='0' x2='1072' y2='577' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23D5E1E7'/%3E%3Cstop offset='1' stop-color='%23DFE5E8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}
.ad:after {
    position: absolute;
    content: '';
    top: -190px;
    left: 0;
    width: 100%;
    height: 350px;
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='1077' viewBox='0 0 1440 1077' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_331_483)'%3E%3Crect width='2144' height='577' transform='matrix(1 0 0 -1 -352 827)' fill='url(%23paint0_linear_331_483)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_331_483' x='-602' y='0' width='2644' height='1077' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='125' result='effect1_foregroundBlur_331_483'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_331_483' x1='1072' y1='0' x2='1072' y2='577' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23D5E1E7'/%3E%3Cstop offset='1' stop-color='%23DFE5E8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    filter: grayscale(1);
}
.ad_block {
    position: relative;
    z-index: 1;
}
.ad_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}
.ad_title {
    font-family: Poster Gothic ATF;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 130%;
    text-transform: uppercase;
    color: #1E3753;
    margin: 24px 0px;
}
.ad_text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #1E3753;
    margin: 24px 0px;
}

.ad_cards {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
    margin-top: 100px;
}
.ad_card {
    flex: 0 0 33.333%;
    padding: 0 12px;
    position: relative;
}

.ad_card_title {
    font-family: Poster Gothic ATF;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #008FF8;
    margin: 16px 0px;
}
.ad_card_text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #1E3753;
    margin: 16px 0px;
}
.ad_title_text {
    max-width: 650px;
}
@media only screen and (max-width: 576px) {
    .ad {
        background-image: none !important;
    }
    .ad_title {
        font-size: 32px;
    }
    .ad_image img {
        width: 100%;
    }
    .ad_cards {
        flex-direction: column;
        position: relative;
        z-index: 1;
    }
    .ad_cards:before {
        position: absolute;
        content: '';
        top: -278px;
        left: 0;
        width: 100%;
        height: 1008px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-image: url("data:image/svg+xml,%3Csvg width='375' height='1234' viewBox='0 0 375 1234' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_778_6657)'%3E%3Cellipse cx='122.288' cy='617' rx='1554.29' ry='310' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_778_6657' x='-1738.32' y='0.675873' width='3721.22' height='1232.65' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='153.162' result='effect1_foregroundBlur_778_6657'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    .ad_top {
        margin-bottom: 300px;
    }
    .ad_block:after {
        position: absolute;
        content: '';
        top: 500px;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(/wp-content/uploads/2022/02/Group-3289.png);
        width: 100%;
        height: 500px;
    }
}