.ad {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.ad_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ad_title {
    font-family: Poster Gothic ATF;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 130%;
    text-transform: uppercase;
    color: #1E3753;
    margin: 24px 0px;
}
.ad_text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #1E3753;
    margin: 24px 0px;
}

.ad_cards {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
    margin-top: 100px;
}
.ad_card {
    flex: 0 0 33.333%;
    padding: 0 12px;
}

.ad_card_title {
    font-family: Poster Gothic ATF;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #008FF8;
    margin: 16px 0px;
}
.ad_card_text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #1E3753;
    margin: 16px 0px;
}
@media only screen and (max-width: 576px) {
    .ad_title {
        font-size: 32px;
    }
    .ad_image img {
        width: 100%;
    }
    .ad_cards {
        flex-direction: column;
    }
}