.baner_v2 {
    height: 100%;
    padding: 120px 0 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
}
.baner_v2_block {
    height: 100%;
    position: relative;
    padding: 60px 0 60px;
}
.baner_v2_top:before {
    position: absolute;
    content: '';
    top: 0;
    right: 21px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 2px;
    background-color: #FF0A00;
}
.baner_v2_top:after {
    position: absolute;
    content: '';
    top: 0;
    right: 21px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2px;
    height: 21px;
    background-color: #FF0A00;
}

.baner_v2_right:before {
    position: absolute;
    content: '';
    bottom: 0;
    right: 21px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2px;
    height: 21px;
    background-color: #FF0A00;
}
.baner_v2_right:after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 21px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 2px;
    background-color: #FF0A00;
}

.baner_v2_left:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 21px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2px;
    height: 21px;
    background-color: #FF0A00;
}
.baner_v2_left:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 21px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 2px;
    background-color: #FF0A00;
}


.baner_v2_bottom:before {
    position: absolute;
    content: '';
    top: 0;
    left: 21px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2px;
    height: 21px;
    background-color: #FF0A00;
    box-shadow: 0px 20px 40px rgb(30 55 83 / 20%);
    filter: drop-shadow(0px 20px 40px rgba(30, 55, 83, 0.2));
}
.baner_v2_bottom:after {
    position: absolute;
    content: '';
    top: 0;
    left: 21px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 2px;
    background-color: #FF0A00;
    box-shadow: 0px 20px 40px rgb(30 55 83 / 20%);
    filter: drop-shadow(0px 20px 40px rgba(30, 55, 83, 0.2));
}

.baner_v2_content {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 40px;
}
.baner_v2_fields {
    max-width: 930px;
}
.baner_v2_title {
    font-family: Poster Gothic Round ATF;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    text-transform: uppercase;
    color: #1E3753;
    margin-bottom: 40px;
}
.baner_v2_text {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #1E3753;
    margin-bottom: 42px;
    max-width: 870px;
}
.baner_v2_image {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
}
.baner_v2_image img {
    z-index: 1;
    position: relative;
    margin-right: 70px;
    box-shadow: 0px 20px 40px rgb(30 55 83 / 20%);
}
.baner_v2_image:before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translate(0%, -50%);
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1E3753;
    width: 520px;
    height: 520px;
    z-index: 0;
    box-shadow: 0px 20px 40px rgb(30 55 83 / 20%);
}
@media only screen and (max-width: 1770px) {
    .baner_v2_text {
        max-width: 750px;
    }
}
@media only screen and (max-width: 1550px) {
    .baner_v2_text {
        max-width: 650px;
    }
}
@media only screen and (max-width: 1440px) {
    .baner_v2_text {
        max-width: 600px;
    }
}
@media only screen and (max-width: 1366px) {
    .baner_v2_text {
        max-width: 550px;
    }
}
@media only screen and (max-width: 1100px) {
    .baner_v2_image img {
        width: 430px;
    }
    .baner_v2_text {
        max-width: 100%;
    }
    .baner_v2_image:before {
        width: 100%;
        height: 480px;
    }
}

@media only screen and (max-width: 1080px) and (orientation: landscape) {
    .baner_v2_text {
        max-width: 520px;
    }

}
@media only screen and (max-width: 992px) {
    .baner_v2 {
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
    }
    .baner_v2_image {
        position: relative;
        right: 0;
        top: 50%;
        transform: translate(0%, 0);
        width: 100%;
        text-align: center;
    }
    .baner_v2_image img {
        margin-right: 0px;
    }
    .baner_v2_text {
        max-width: 100%;
    }
    .baner_v2_image:before {
        width: 100%;
        height: 350px;
    }
    .baner_v2_content {
        padding: 16px;
    }


}
@media only screen and (min-width: 810px) and (orientation: portrait) {
    .baner_v2_image {
        top: 0;
        transform: translate(0%, 0%);
    }
    .baner_v2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .baner_v2_image {
        position: relative;
        width: 100%;
        text-align: center;
    }
    .baner_v2_image img {
        width: 640px;
        margin-right: 0px;
    }
}
@media only screen and (max-width: 576px) {
    .baner_v2_image img {
        width: 100%;
    }
    .baner_v2_fields {
        max-width: 100%;
    }
    .baner_v2_content {
        padding: 0rem;
    }
    .baner_v2_image {
        position: relative;
        top: 0;
        transform: translate(0, 0);
    }
    .baner_v2_title,
    .baner_v2_text {
        padding-left: 1rem;
        padding-right: 1rem;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
    }
    .baner_v2_title {
        font-size: 32px;
        margin-top: 70px;
        margin-bottom: 32px;
    }
}
@media only screen and (max-width: 375px) {
    .baner_v2_image:before {
        display: none;
    }
}