.cta {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: bottom;
}
.cta:before {
    position: absolute;
    content: '';
    top: -110px;
    left: 0;
    width: 100%;
    height: 250px;
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='1077' viewBox='0 0 1440 1077' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_331_483)'%3E%3Crect width='2144' height='577' transform='matrix(1 0 0 -1 -352 827)' fill='url(%23paint0_linear_331_483)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_331_483' x='-602' y='0' width='2644' height='1077' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='125' result='effect1_foregroundBlur_331_483'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_331_483' x1='1072' y1='0' x2='1072' y2='577' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23D5E1E7'/%3E%3Cstop offset='1' stop-color='%23DFE5E8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}
.cta_block {
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
}
.cta_content {
    padding: 80px 0 500px;
}
.cta_tabs_wrapper {
    display: flex;
    min-height: 1000px;
}
.cta_tabs {
    background: #1E3753;
    padding: 70px 70px 0 70px;
    max-width: 682px;
    min-height: 874px;
    box-shadow: 0px 20px 40px rgba(30, 55, 83, 0.2);
    position: relative;
    z-index: 4;
    height: 100%;
    filter: drop-shadow(0px 20px 40px rgba(30, 55, 83, 0.2));
}
.cta_tabs_title {
    font-family: Poster Gothic ATF;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 40px 0px;
}
.cta_tabs_title span {
    font-weight: 300;
}
.cta_square {
    position: relative;
    height: 468px;
    margin-top: 75px;
}
.cta_square:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 468px;
    background-color: #890600;
}
.cta_square_wrapper {
    position: relative;
}
.line_top {
    position: absolute;
    top: 40px;
    right: 60px;
    z-index: 1;
    width: 100%;
    height: 1px;
    background-color: #FF0A00;
}
.line_right {
    position: absolute;
    top: 40px;
    right: 60px;
    z-index: 3;
    width: 1px;
    height: 83%;
    background-color: #FF0A00;
}
.line_bottom {
    position: absolute;
    bottom: 40px;
    right: 60px;
    z-index: 3;
    width: 100%;
    height: 1px;
    background-color: #FF0A00;
}
.cta_square_image {
    position: relative;
    z-index: 2;
    filter: drop-shadow(0px 20px 40px rgba(30, 55, 83, 0.2));
}
.cta_square_image:before {
    position: absolute;
    content: '';
    bottom: 57px;
    right: 87px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg width='112' height='28' viewBox='0 0 112 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0L17.1432 9.67376H27.3148L19.0858 15.6525L22.229 25.3262L14 19.3475L5.77101 25.3262L8.9142 15.6525L0.685208 9.67376H10.8568L14 0Z' fill='white'/%3E%3Cpath d='M56 0L59.1432 9.67376H69.3148L61.0858 15.6525L64.229 25.3262L56 19.3475L47.771 25.3262L50.9142 15.6525L42.6852 9.67376H52.8568L56 0Z' fill='white'/%3E%3Cpath d='M98 0L101.143 9.67376H111.315L103.086 15.6525L106.229 25.3262L98 19.3475L89.771 25.3262L92.9142 15.6525L84.6852 9.67376H94.8568L98 0Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 112px;
    height: 28px;
}
.cta_forms_title-block {
    margin: 250px 0 100px;
    position: relative;
}
.cta_forms_title-block:before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 112px;
    height: 28px;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='21' viewBox='0 0 80 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0.5L12.2451 7.40983H19.5106L13.6327 11.6803L15.8779 18.5902L10 14.3197L4.12215 18.5902L6.36729 11.6803L0.489435 7.40983H7.75486L10 0.5Z' fill='%23FF0A00'/%3E%3Cpath d='M40 0.5L42.2451 7.40983H49.5106L43.6327 11.6803L45.8779 18.5902L40 14.3197L34.1221 18.5902L36.3673 11.6803L30.4894 7.40983H37.7549L40 0.5Z' fill='%23FF0A00'/%3E%3Cpath d='M70 0.5L72.2451 7.40983H79.5106L73.6327 11.6803L75.8779 18.5902L70 14.3197L64.1221 18.5902L66.3673 11.6803L60.4894 7.40983H67.7549L70 0.5Z' fill='%23FF0A00'/%3E%3C/svg%3E%0A");
}
.cta_forms_title-block:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 112px;
    height: 28px;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='21' viewBox='0 0 80 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0.5L12.2451 7.40983H19.5106L13.6327 11.6803L15.8779 18.5902L10 14.3197L4.12215 18.5902L6.36729 11.6803L0.489435 7.40983H7.75486L10 0.5Z' fill='%23FF0A00'/%3E%3Cpath d='M40 0.5L42.2451 7.40983H49.5106L43.6327 11.6803L45.8779 18.5902L40 14.3197L34.1221 18.5902L36.3673 11.6803L30.4894 7.40983H37.7549L40 0.5Z' fill='%23FF0A00'/%3E%3Cpath d='M70 0.5L72.2451 7.40983H79.5106L73.6327 11.6803L75.8779 18.5902L70 14.3197L64.1221 18.5902L66.3673 11.6803L60.4894 7.40983H67.7549L70 0.5Z' fill='%23FF0A00'/%3E%3C/svg%3E%0A");
}
.cta_forms_title {
    font-family: Poster Gothic ATF;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #1E3753;
    max-width: 844px;
    margin: 0 auto;
}
.cta_forms_title span {
    font-weight: 500;
}

.cta_forms_items {
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
}
.cta_forms_block {
    position: relative;
    padding: 0 30px;
}
.cta_forms_block:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 592px;
    background: #890600;
    filter: drop-shadow(0px 20px 40px rgba(30, 55, 83, 0.2));
    box-shadow: 0px 20px 40px rgba(30, 55, 83, 0.2);
}
.cta_form_item {
    padding: 0 12px;
    flex: 0 0 50%;
}

.cta_form_wrapper {
    min-height: 677px;
    filter: drop-shadow(0px 20px 40px rgba(30, 55, 83, 0.2));
    background: #1E3753;
    box-shadow: 16px 23px 41px rgba(0, 12, 54, 0.32);
    height: 100%;
    padding: 64px 71px;
}
.cta_form_title {
    font-family: Poster Gothic ATF;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    position: relative;
}
.cta_form_title:before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='21' viewBox='0 0 80 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0.5L12.2451 7.40983H19.5106L13.6327 11.6803L15.8779 18.5902L10 14.3197L4.12215 18.5902L6.36729 11.6803L0.489435 7.40983H7.75486L10 0.5Z' fill='%23FF0A00'/%3E%3Cpath d='M40 0.5L42.2451 7.40983H49.5106L43.6327 11.6803L45.8779 18.5902L40 14.3197L34.1221 18.5902L36.3673 11.6803L30.4894 7.40983H37.7549L40 0.5Z' fill='%23FF0A00'/%3E%3Cpath d='M70 0.5L72.2451 7.40983H79.5106L73.6327 11.6803L75.8779 18.5902L70 14.3197L64.1221 18.5902L66.3673 11.6803L60.4894 7.40983H67.7549L70 0.5Z' fill='%23FF0A00'/%3E%3C/svg%3E%0A");
}
.cta_form_title:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='21' viewBox='0 0 80 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0.5L12.2451 7.40983H19.5106L13.6327 11.6803L15.8779 18.5902L10 14.3197L4.12215 18.5902L6.36729 11.6803L0.489435 7.40983H7.75486L10 0.5Z' fill='%23FF0A00'/%3E%3Cpath d='M40 0.5L42.2451 7.40983H49.5106L43.6327 11.6803L45.8779 18.5902L40 14.3197L34.1221 18.5902L36.3673 11.6803L30.4894 7.40983H37.7549L40 0.5Z' fill='%23FF0A00'/%3E%3Cpath d='M70 0.5L72.2451 7.40983H79.5106L73.6327 11.6803L75.8779 18.5902L70 14.3197L64.1221 18.5902L66.3673 11.6803L60.4894 7.40983H67.7549L70 0.5Z' fill='%23FF0A00'/%3E%3C/svg%3E%0A");
}
.cta_form_text {
    display: flex;
    align-items: center;
    min-height: 185px;
}
.cta_form_text_wrapper {
    font-family: Poster Gothic ATF;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #008FF8;
    margin: 12px 0px;

}
.cta_form_text_wrapper span {
    color: #FF0A00;
}
.cta_form_footer {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.72;
}
.cta_form_form span input {
    height: 42px;
    margin: 12px 0px;
    padding: 8px 25px 8px 13px;
    width: 100%;
}
#wpcf7-f117-o2 > form > p:nth-child(4) > input,
#wpcf7-f9-o1 > form > p:nth-child(4) > input {
    padding: 12px 32px;
    background: #008FF8;
    font-family: Poster Gothic ATF;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 100%;
    margin-top: 35px;
}



.accordion {
    padding: 1.2rem 0;
    border-radius: 1rem;
}

.accordion__heading {
    margin-bottom: 1rem;
    padding: 0 1.4rem;
}
.accordion__caption {
    font-family: Poster Gothic ATF;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: #008FF8;
    max-width: 468px;
}
.accordion__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.2rem 0;
    border: none;
    outline: none;
    font-size: 1.2rem;
    text-align: left;
    cursor: pointer;
    transition: 0.1s;
    background: transparent;
}
.accordion__btn:hover {

}

.accordion__item--active .accordion__btn {

}

.fa-lightbulb {
    padding-right: 1rem;
}
.accordion__icon {
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    opacity: 0.9;
}


.accordion__content {
    font-weight: 300;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateX(16px);
    transition: max-height 0.5s ease, opacity 0.5s, transform 0.5s;
}
.accordion__content p {
    padding: 1rem 1.8rem;
}

.accordion__item--active .accordion__content {
    opacity: 1;
    transform: translateX(0px);
    max-height: 100vh;
}
.accordion__icon {
    position: relative;
}
.accordion__icon:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 3V11H3V13H11V21H13V13H21V11H13V3H11Z' fill='white'/%3E%3C/svg%3E ");
    width: 24px;
    height: 24px;
}
.accordion__item--active .accordion__icon:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 11.5H3V13.5H11H13H21V11.5H13H11Z' fill='%23FF0A00'/%3E%3C/svg%3E%0A");    width: 24px;
    height: 24px;
}



    /*tabs*/
.container-tab{
    margin:auto;
    max-width:800px;
}
/* TABS */
.cta-tabs_v2 {
    *zoom: 1;
    width: 100%;
    border-radius: 0.1875em;
    margin-bottom: 1.5em;
    margin-left:0;
    padding-left:0;
}
.cta-tabs_v2:before,
.cta-tabs_v2:after {
    content: " ";
    display: table;
}
.cta-tabs_v2:after {
    clear: both;
}
.cta-tabs_v2 li{
    list-style:none;
}
.cta-tabs_v2 li.tab-head-cont a {
    text-decoration:none;
    display: block;
    padding: 0.75em 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    color: #EDEEE4;
    opacity: 0.4;
    background-color: transparent !important;
    transition: all 0.3s ease-in-out;
}
.cta-tabs_v2 li.tab-head-cont a:first-child {
    padding: 0.75em 16px 0.75em 0;
}
.cta-tabs_v2 li.tab-head-cont a:last-child {
    padding: 0.75em 0px 0.75em 16px;
}
.cta-tabs_v2 li.tab-head-cont a:hover {
    color: #008FF8;
    transition: all 0.3s ease-in-out;
}
.cta-tabs_v2 li.tab-head-cont a:focus {
    outline: none;
}
.cta-tabs_v2 li.tab-head-cont a.is-active {
    background-color: #f7f7f7;
    border-bottom: 0;
    position: relative;
}
.cta-tabs_v2 li.tab-head-cont a.is-active:before {
    position: absolute;
    content: '';
    top: 38px;
    left: 45%;
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: cover;
    width: 4px;
    height: 19px;
    background-color: #FF0A00;
}
.cta-tabs_v2 li.tab-head-cont section {
    padding: 1.5em 0;
    background: transparent;
    display: none;
    overflow: hidden;
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;

}
.tab-head-cont a.is-active {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FF0A00 !important;
    opacity: 1 !important;
    background-color: transparent !important;
}
.cta_form_form .wpcf7-submit {
    padding: 12px 32px;
    background: #008FF8;
    font-family: Poster Gothic ATF;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 100%;
    margin-top: 35px;
}

/* RESPONSIVE */
@media screen and (min-width: 320px) {
    .cta-tabs_v2 {
        border: none;
        position: relative;
    }
    .cta-tabs_v2 li.tab-head-cont {
        display: inline;
    }
    .cta-tabs_v2 li.tab-head-cont:last-child a {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .cta-tabs_v2 li.tab-head-cont a {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        border-top: 0;
    }
    .cta-tabs_v2 li.tab-head-cont a.is-active {
        margin-bottom: -1px;
    }
    .cta-tabs_v2 li.tab-head-cont section {
        float: left;
        left: 0;
        border-top: 1px solid #FF0A00;
    }
    .cta-tabs_v2 li.tab-head-cont section p {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
    }
}


/**/


@media only screen and (max-width: 1024px) {
    .cta_square:before {
        height: 278px;
    }
    .cta_square_image img {
        max-width: 342px;
    }
    .line_right {
        height: 71%;
    }
    .cta_form_title:after,
    .cta_form_title:before {
        width: 65px;
        height: 15px;
    }
    .cta_form_wrapper {
        padding: 50px;
    }
}
@media only screen and (min-width: 810px) and (orientation: portrait),
@media only screen and (max-width: 768px)  {
    .cta_tabs_wrapper {
        flex-direction: column-reverse;
    }
    .cta_square {
        height: auto;
        margin-top: 0px;
    }
    .line_left {
        position: absolute;
        top: 40px;
        left: 60px;
        z-index: 3;
        width: 1px;
        height: 71%;
        background-color: #FF0A00;
    }
    .line_top,
    .line_bottom {
        width: 83.5%;
    }
    .cta_tabs {
        max-width: initial;
        margin-top: -45px;
    }
    .cta_square_image {
        text-align: right;
    }
    .cta_forms_title-block:after {
        top: auto;
        left: 50%;
        bottom: -50px;
        transform: translate(-50%, -50%);
    }
    .cta_forms_title-block:before {
        top: -25px;
    }
    .cta_forms_items {
        flex-direction: column;
    }
    .cta_form_item {
        margin-bottom: 30px;
    }
    .cta_forms_block:before {
        height: 90%;
    }
}
    @media only screen and (max-width: 768px) {
        .cta_tabs_wrapper {
            flex-direction: column-reverse;
        }
        .cta_square {
            height: auto;
            margin-top: 0px;
        }
        .line_left {
            position: absolute;
            top: 40px;
            left: 60px;
            z-index: 3;
            width: 1px;
            height: 71%;
            background-color: #FF0A00;
        }
        .line_top,
        .line_bottom {
            width: 83.5%;
        }
        .cta_tabs {
            max-width: initial;
            margin-top: -45px;
        }
        .cta_square_image {
            text-align: right;
        }
        .cta_forms_title-block:after {
            top: auto;
            left: 50%;
            bottom: -50px;
            transform: translate(-50%, -50%);
        }
        .cta_forms_title-block:before {
            top: -25px;
            right: 50%;
            transform: translate(50%, -50%);
        }
        .cta_forms_items {
            overflow-x: auto;
        }
        .cta_forms_items::-webkit-scrollbar {
            width: 0;
        }
        .cta_form_item {
            margin-bottom: 30px;
        }
        .cta_forms_block:before {
            height: 90%;
        }
    }
@media only screen and (max-width: 576px) {
    .cta_tabs_title {
        font-size: 22px;
    }
    .cta_tabs {
        padding: 48px 24px 56px;
        margin-top: -45px;
    }
    .cta .accordion__caption {
        font-weight: 500;
        font-size: 18px;
        padding-right: 25px;
    }
    .cta_square:before {
        right: -16px;
        width: 120%;
        height: 294px;
    }
    .cta_square_image img {
        max-width: 360px;
    }
    .line_right {
        right: 20px;
    }
    .line_top {
        right: 20px;
    }
    .line_left {
        left: 20px;
    }
    .line_top, .line_bottom {
        width: 88%;
    }
    .line_bottom {
        bottom: 44px;
        right: 20px;
    }
    .cta_square_image:before {
        right: 40px;
    }
    .cta_forms_title {
        font-size: 32px;
    }
    .cta_forms_title-block:before {
        top: -20px;
        left: 50%;
        right: initial;
        transform: translate(-50%, -50%);
    }
    .cta_form_wrapper {
        padding: 50px 20px 30px;
    }
    .cta_forms_block {
        padding: 0;
    }
    .cta_form_title {
        font-size: 22px;
    }
    .cta_forms_block:before {
        display: none;
    }
    #wpcf7-f117-o2 > form > p:nth-child(4) > input, #wpcf7-f9-o1 > form > p:nth-child(4) > input {
        font-size: 22px;
    }
    .cta_tabs {
        min-height: 790px;
        padding: 48px 24px 5px;
    }

    .cta_form_item {
        flex: 0 0 93%;
    }

}