.tabs_v2 {
    position: relative;
    padding: 140px 0 140px;
}
.tabs_v2_content {
    display: flex;
    justify-content: space-between;
}
.tabs_v2_tabs {
    max-width: 520px;
}
.tabs_v2_images {
    flex: 0 0 50%;
    position: relative;
    padding-top: 100px;
}
.tabs_v2_title {
    font-family: Poster Gothic ATF;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 130%;
    text-transform: uppercase;
    color: #1E3753;
    margin: 32px 0px;
    position: relative;
}
.tabs_v2_title:before {
    position: absolute;
    content: '';
    top: 10px;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 116px;
    height: 29px;
    background-image: url("data:image/svg+xml,%3Csvg width='112' height='28' viewBox='0 0 112 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0L17.1432 9.67376H27.3148L19.0858 15.6525L22.229 25.3262L14 19.3475L5.77101 25.3262L8.9142 15.6525L0.685208 9.67376H10.8568L14 0Z' fill='%23FF0A00'/%3E%3Cpath d='M56 0L59.1432 9.67376H69.3148L61.0858 15.6525L64.229 25.3262L56 19.3475L47.771 25.3262L50.9142 15.6525L42.6852 9.67376H52.8568L56 0Z' fill='%23FF0A00'/%3E%3Cpath d='M98 0L101.143 9.67376H111.315L103.086 15.6525L106.229 25.3262L98 19.3475L89.771 25.3262L92.9142 15.6525L84.6852 9.67376H94.8568L98 0Z' fill='%23FF0A00'/%3E%3C/svg%3E%0A");
}
.tabs_v2_title span {
    font-weight: 300;
}
.tabs_v2_list-title {
    display: flex;
    align-items: center;
}
.tabs_v2_list-item {
    margin-bottom: 20px;
}
.tabs_v2_list-item:last-child {
    margin-bottom: 0px;
}
.tabs_v2_list-num {
    font-family: Poster Gothic ATF;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #1E3753;
    opacity: 1;
    margin-right: 10px;
}
.tabs_v2_list-title span {
    font-family: Poster Gothic ATF;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.07em;
    color: #1E3753;
    /*margin: 16px 0px;*/
    opacity: 1;
}
.tabs_v2_list-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #1E3753;
    opacity: 0.64;
    margin: 16px 0px;
    padding-left: 41px;
}
.tabs_v2_img {
    position: relative;
    max-height: 800px;
    padding-top: 60px;
    height: 100%;
}
.tabs_v2:before {
    position: absolute;
    content: '';
    top: 230px;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    height: 740px;
    background: #890600;
    z-index: 0;
}
.tabs_v2:after {
    position: absolute;
    content: '';
    bottom: 330px;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 266px;
    background: #1E3753;
    box-shadow: 0px 20px 40px rgb(30 55 83 / 20%);
    z-index: 1;
}
.image_big {
    position: relative;
    z-index: 1;
    filter: drop-shadow(0px 20px 40px rgba(30, 55, 83, 0.2));
}
.image_small {
    position: absolute;
    right: calc(100vw - 91vw);
    bottom: 286px;
    z-index: 3;
}

@media only screen and (max-width: 768px) {
    .image_small {
        position: relative;
        right: 0;
        bottom: 0;
        z-index: 3;
    }
}

/*tabs*/
.container-tab{
    margin:auto;
    max-width:800px;
}
/* TABS */
.accordion-tabs_v2 {
    *zoom: 1;
    width: 100%;
    border-radius: 0.1875em;
    margin-bottom: 1.5em;
    margin-left:0;
    padding-left:0;
}
.accordion-tabs_v2:before,
.accordion-tabs_v2:after {
    content: " ";
    display: table;
}
.accordion-tabs_v2:after {
    clear: both;
}
.accordion-tabs_v2 li{
    list-style:none;
}
.accordion-tabs_v2 li.tab-head-cont a {
    text-decoration:none;
    display: block;
    padding: 0.75em 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    color: #5D5F61;
    opacity: 0.4;
    background-color: transparent !important;
    transition: all 0.3s ease-in-out;
}
.accordion-tabs_v2 li.tab-head-cont a:first-child {
    padding: 0.75em 16px 0.75em 0;
}
.accordion-tabs_v2 li.tab-head-cont a:last-child {
    padding: 0.75em 0px 0.75em 16px;
}
.accordion-tabs_v2 li.tab-head-cont a:hover {
    color: #008FF8;
    transition: all 0.3s ease-in-out;
}
.accordion-tabs_v2 li.tab-head-cont a:focus {
    outline: none;
}
.accordion-tabs_v2 li.tab-head-cont a.is-active {
    background-color: #f7f7f7;
    border-bottom: 0;
    position: relative;
}
.accordion-tabs_v2 li.tab-head-cont a.is-active:before {
    position: absolute;
    content: '';
    top: 38px;
    left: 45%;
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: cover;
    width: 4px;
    height: 19px;
    background-color: #FF0A00;
}
.accordion-tabs_v2 li.tab-head-cont section {
    padding: 1.5em 1.618em;
    background: transparent;
    display: none;
    overflow: hidden;
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;

}
.tab-head-cont a.is-active {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FF0A00 !important;
    opacity: 1 !important;
    background-color: transparent !important;
}


/* RESPONSIVE */
@media screen and (min-width: 320px) {
    .accordion-tabs_v2 {
        border: none;
        position: relative;
    }
    .accordion-tabs_v2 li.tab-head-cont {
        display: inline;
    }
    .accordion-tabs_v2 li.tab-head-cont:last-child a {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .accordion-tabs_v2 li.tab-head-cont a {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        border-top: 0;
    }
    .accordion-tabs_v2 li.tab-head-cont a.is-active {
        margin-bottom: -1px;
    }
    .accordion-tabs_v2 li.tab-head-cont section {
        float: left;
        left: 0;
        padding: 32px 0 0;
        border-top: 1px solid #FF0A00;
    }
    .accordion-tabs_v2 li.tab-head-cont section p {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
    }
}


/**/
@media only screen and (max-width: 1920px) {
    .image_small {
        right: calc(100vw - 87vw);
    }
}
@media only screen and (max-width: 1650px) {
    .image_small {
        right: calc(100vw - 89vw);
    }
}
@media only screen and (max-width: 1440px) {
    .image_small {
        right: calc(100vw - 90vw);
    }
}
@media only screen and (max-width: 1366px) {
    .image_small {
        right: calc(100vw - 92vw);
    }
}
@media only screen and (max-width: 1250px) {
    .image_small {
        right: calc(100vw - 94vw);
    }
}
@media only screen and (max-width: 1050px) {

}
@media only screen and (max-width: 1024px) {
    .image_small {
        right: calc(100vw - 98vw);
    }
}
@media only screen and (max-width: 768px) {
    .tabs_v2:after {
        display: none;
    }
    .tabs_v2_content {
        flex-direction: column-reverse;
    }
    .tabs_v2_images {
        position: relative;
    }
    .tabs_v2:before {
        width: 95%;
    }
    .tabs_v2_img:after {
        position: absolute;
        content: '';
        bottom: 30px;
        right: -16px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 80%;
        height: 266px;
        background: #1E3753;
        box-shadow: 0px 20px 40px rgb(30 55 83 / 20%);
        z-index: 1;
    }
    .image_small {
        position: relative;
        right: 0;
        bottom: 45px;
        z-index: 3;
        text-align: right;
    }
}
@media only screen and (max-width: 576px) {
    .tabs_v2 {
        padding: 20px 0 20px;
    }
    .tabs_v2_title {
        font-size: 22px;
    }
    .tabs_v2_title:before {
        top: 0px;
    }
    .tabs_v2:before {
        height: 560px;
    }
    .tabs_v2_img:after {
        bottom: 75px;
    }
    .image_small {
        right: 35px;
    }
    .accordion-tabs_v2 {
        z-index: 2;
    }
    .tabs_v2_list-num {
        font-size: 18px;
    }
    .tabs_v2_list-title span {
        font-size: 18px;
    }
    .tabs_v2_list-text {
        padding-left: 35px;
    }
}